[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = vue-demo
[access "refs/*"]
	owner = group user/Corey (coreyGh)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Corey (coreyGh)
	label-Verified = -1..+1 group user/Corey (coreyGh)
	push = group user/Corey (coreyGh)
	read = group user/Corey (coreyGh)
	rebase = group user/Corey (coreyGh)
	removeReviewer = group user/Corey (coreyGh)
	submit = group user/Corey (coreyGh)
[access "refs/heads/*"]
	create = group user/Corey (coreyGh)
	push = +force group user/Corey (coreyGh)
	pushMerge = group user/Corey (coreyGh)
	read = group user/Corey (coreyGh)
[access "refs/tags/*"]
	push = group user/Corey (coreyGh)
	push = +force group user/Corey (coreyGh)
